/* Images for small */
.homepage-banner-1 {
  /* position: fixed; */
  max-width: 100%;
  height: 400px;
  left: 0px;
  background-position: center;
  background: url("./../images/banner300.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-banner-2 {
  /* position: fixed; */
  max-width: 100%;
  height: 400px;
  left: 0px;
  background-position: center;
  background: url("./../images/banner300.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-banner-3 {
  /* position: fixed; */
  max-width: 100%;
  height: 400px;
  left: 0px;
  background-position: center;
  background: url("./../images/banner300.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Images for medium */
.homepage-banner-4 {
  /* position: fixed; */
  max-width: 100%;
  height: 400px;
  left: 0px;
  background-position: center;
  background: url("./../images/banner600.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-banner-5 {
  /* position: fixed; */
  max-width: 100%;
  height: 400px;
  left: 0px;
  background-position: center;
  background: url("./../images/banner600.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-banner-6 {
  /* position: fixed; */
  max-width: 100%;
  height: 400px;
  left: 0px;
  background-position: center;
  background: url("./../images/banner600.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Images for large */
.homepage-banner-7 {
  /* position: fixed; */
  max-width: 100%;
  height: 400px;
  left: 0px;
  background-position: center;
  background: url("./../images/banner-tab.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-banner-8 {
  /* position: fixed; */
  max-width: 100%;
  height: 400px;
  left: 0px;
  background-position: center;
  background: url("./../images/banner-tab.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-banner-9 {
  /* position: fixed; */
  max-width: 100%;
  height: 400px;
  left: 0px;
  background-position: center;
  background: url("./../images/banner-tab.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* For Big Display */
.homepage-banner-10 {
  /* position: fixed; */
  max-width: 100%;
  height: 400px;
  left: 0px;
  background-position: center;
  background: url("./../images/banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-banner-11 {
  /* position: fixed; */
  max-width: 100%;
  height: 400px;
  left: 0px;
  background-position: center;
  background: url("./../images/banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-banner-12 {
  /* position: fixed; */
  max-width: 100%;
  height: 400px;
  left: 0px;
  background-position: center;
  background: url("./../images/banner1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
