@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.part-product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

/*  */

.section-one {
  /* border: 1px solid red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 10px 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 4rem;
}
.noBlue{
  border: 2px solid #dadada !important;
  background-color: white !important;
}
.product-image-section {
  /* border: 1px solid aqua; */

  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 10px 10px;
}

.vertical-slider {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
}

.vertical-slider-item {
  height: 120px;
  width: 100px;
  margin: 10px;
}

.product-preview-section {
  width: 80%;
  /* border: 1px solid red; */
  margin: 10px 10px;
}

.product-image-slider {
  /* box-shadow: 0px 0px 2px black; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.refresh{
  margin: auto;
  cursor: pointer;
}

.refresh svg{
  height: 2.5rem;
  width: 2.5rem;
}

.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height:4rem;
  width: 4rem;
}

.particular-productimage {
  /* border: 1px solid red; */
  margin: 10px 10px;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  object-fit: cover;
}

.product-button-cart {
  text-transform: uppercase;
  padding: 18px 18px;
  background: #b2eeee;
  border-radius: 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  border: 0px;
  border: 1px solid black;
  width: 100%;
  /* padding: 5px; */
}

.product-button-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* border: 1px solid blue; */
  margin-left: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product-btn-section-desktop {
  display: flex;
  flex: 1;
  align-items: center;
}

.product-btn-section-desktop .buy-now-btn {
  flex: 0.6;
  width: 100%;
}

.product-btn-section-mobile {
  display: none;
  flex-direction: column;
  width: 90%;
}

.product-btn-section-mobile .product-button-cart {
  width: 85%;
}

.product-btn-section-mobile-lower-div {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 90%;
}

.product-btn-section-mobile-lower-div .product-button-cart {
  width: 90%;
}

.product-btn-section-mobile-lower-div .cart-btn {
  flex: 0.5;
}

.product-btn-section-mobile-lower-div .wishlist-btn {
  flex: 0.5;
}

.product-accordion-detail {
  margin: 10px 10px;
  font-size: 16px;
}

.product-detail-column {
  float: left;
  width: 50%;
  padding: 0px 12px;
  margin-top: -16px;
}

.product-detail-row:after {
  content: '';
  display: table;
  clear: both;
}

/* Try on */

.try-on-section {
  /* border: 1px solid green; */
  margin: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.try-on-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
  -ms-flex: row;
  flex: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0px 30px;
}

.try-on-heading {
  font-size: 24px;
  font-weight: bold;
}

.try-on-box-wrapper {
  margin: 10px 30px;
  background-color: #d9d9d9;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  height: 345px;
  width: 632;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.try-on-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* border: 1px solid red; */
  height: 345px;
  -webkit-box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.try-on-btn {
  width: 100px;
  padding: 10px 2px;
  font-size: 18px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #187fca;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.try-on-btn:hover {
  background-color: #1064a0;
}

.try-on-select {
  padding: 10px 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid white;
  background-color: #187fca;
  color: white;
  cursor: pointer;
}

.try-on-select:hover {
  background-color: #1064a0;
}

.product-detail-section {
  width: 53%;
  /* border: 1px solid aqua; */
  margin: 10px 10px;
}

.product-details-wrapper {
  /* border: 1px solid black; */
  margin: 10px 10px;
}

.product-category-text {
  color: #555555;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  margin: 5px 10px;
}

.product-detail-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 5px 10px;
}

.product-detail-heading {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  color: #000000;
}

.product-manufac {
  font-size: 16px;
  color: #999999;
  margin: 2px 10px;
}

.product-rating-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 2px 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.star-rating {
  width: 200px;
}

.text-rating {
  margin-right: 20rem;
  margin-top: 2px;
  font-size: 16px;
  color: #555555;
  font-family: 'Ubuntu', sans-serif;
}

.product-price-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 5px 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.product-price-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
}

.product-strike-price {
  margin-left: 4px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-decoration: line-through;
  margin-bottom: 5px;
}

.product-discount {
  margin-left: 4px;
  color: green;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
}

.tax-text {
  font-size: 14px;
  margin: 0px 10px;
  margin-top: -5px;
  font-family: 'Ubuntu', sans-serif;
}

.product-size-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 5px 10px;
  font-family: 'Ubuntu', sans-serif;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.product-size-heading {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 37px;
  margin: 8px 2px;
    padding: 18px 0px;
    font-size: 30px;
}

.product-size-chart-text {
  text-decoration: underline;
  color: #2c8f88;
  font-weight: 600;
  margin-right: 17rem;
  cursor: pointer;
}

.product-size-boxes {
  margin: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.product-size-item {
  border: 2px solid #dadada;
  background-color: white;
  color: black;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  padding: 0px 10px;
  height: 40px;
  margin-top: 16px;
  margin-left: 10px;
}

.product-size-item:hover {
  border: 2px solid #b2eeee;
}

.product-size-item:focus, .sizeState {
  border: 2px solid #b2eeee;
  background-color: #b2eeee;
}

#size-btn-disabled {
  color: #dadada;
}

.product-notify {
  color: #2c8f88;
  margin-left: 8px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.quantity-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 25px 10px;
}

.quantity-text {
  margin-right: 15px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  font-family: 'Ubuntu', sans-serif;
}

.quantity-input-box {
  width: 40px;
  border: 2px solid #dadada;
  border-radius: 3px;
  padding: 5px 10px;
  -webkit-appearance: none;
  margin: 0;
}

.size-lower-text {
  font-size: 14px;
  margin: 15px 10px;
  margin-top: -20px;
  font-family: 'Ubuntu', sans-serif;
}

.product-color-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 10px;
}

.product-color-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
}

.product-btn-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 30px 12px;
}

.deliver-to-text {
  margin: 15px 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.deliver-add-section {
  margin: 5px 10px;
}

.pincode-input {
  padding: 5px 10px;
  border: 2px solid #dadada;
  border-radius: 4px;
}

.pincode-check-btn {
  font-size: 14px;
  margin-left: 5px;
  background-color: white;
  padding: 5px 13px;
  border: 2px solid #2c8f88;
  border-radius: 4px;
  cursor: pointer;
}

.pincode-check-btn:hover {
  font-size: 14px;
  margin-left: 5px;
  background-color: #2c8f88;
  color: white;
  padding: 5px 13px;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.product-color-menu {
  /* border: 1px solid black; */
  margin: 10px 10px;
  font-family: 'Ubuntu', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-right: 100px;
}

.product-color-item {
  border: 2px solid blue;
  width: 71px;
  height: 101px;
  margin: 5px 5px;
}

.product-accordion {
  margin: 35px 10px;
}

.accordion-heading {
  font-size: 20px;
  font-weight: bold;
}

.product-accordion-detail {
  font-size: 16px;
}

/* .product-favourite-icon {
  margin-left: 50px;
  margin-top: 2px;
} */

/* Lower : YOu might be interest section */

.section-two {
  /* border: 1px solid black; */
  margin: 10px 50px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product-card-img {
  margin: 0px 2px;
}

.product-row-heading {
  margin: 20px 10px;
  font-size: 26px;
  font-weight: bold;
}

.product-row {
  margin: 5px 10px;
  /* border: 1px solid red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product-card-comp {
  margin: 5px 10px;
  /* border: 1px solid blue; */
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 340px;
  width: 243px;
}
.right{
  /* width:60%; */
  margin-right: 4px;
  background: #B2EEEE;
  border: 1px solid rgba(0, 0, 0, 0.137);
  border-radius: 12px;
  padding: 10px 30px;
  font-weight: 300;
  font-size: 18px;
  cursor: pointer;
}
/* input start */


.custom-btn-toggle{
  width: 73%;
  /* margin-left: 2%; */
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Upload';
  width: 100%;
  display: inline-block;
  cursor: pointer;
  background: #b2eeee;
  text-align: center;
  border-radius: 12px;
  padding: 12px 30px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.137);
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

@media (max-width: 440px) {
  .product-btn-section-mobile {
    display: flex;
  }
  .product-btn-section-desktop {
    display: none;
  }

}

@media only screen and (max-width: 1300px) {
  .section-one {
    gap: 1rem;
  }
  .product-image-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .vertical-slider {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media only screen and (max-width: 900px) {
  .section-one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
  }
  .product-image-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 797px;
    height: 819px;
  }
  .vertical-slider {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .product-detail-section {
    padding: 1rem;
    margin: 10px 0;
    width: 630px;
  }
  .product-details-wrapper {
    margin: 10px 0;
  }
  .product-size-heading {
    font-size: 20px;
  }
  .product-size-boxes {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin: 20px 5px; */
  }
  .product-size-item {
    font-size: 17px;
  }

  .product-detail-heading {
    font-size: 30px;
  }
  .product-size-heading{
    margin: 0px 2px;
    padding: 5px 0px;
    font-size: 22px;
  }
  .product-size-header{
    margin: 5px 8px;
  }
  .product-size-boxes{
    margin: 2px 2px;
    padding: 3px 0px;
  }
  .product-size-item{
    margin-top: 0px;
    padding: 0px 8px;
    height: 35px;
  }
  .selectASize{
    font-size: 16px;
  }
  .product-price-text{
    font-size: 39px;
  }
  .tax-text{
    font-size: 14px;
  }
  .product-color-text{
    font-size: 28px;
  }
}

/* -----Removed Inline CSS */

.vertical-slider-item {
  background-size: cover;
  background-position: center;
}

.product-image-slider {
  overflow: hidden;
  height: 580px;
}

.particular-productimage {
  height: 550px;
  width: 500px;
  background-size: cover;
  background-position: center;
}

.try-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.tryon-lower-sec {
  display: flex;
  width: fit-content;
  justify-content: space-around;
  padding: 10px 0px;

}

.uploadbtn {
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.button-content {
  display: flex;
  justify-content: center;
}

.selectSize {
  margin-top: -15px;
  margin-left: 5px;
  color: red;
}

@media only screen and (max-width: 320px) {
  .section-one {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin: 0px;
  }
  .product-image-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 300px;
    height: 610px !important;
    margin: 0;
  }
  .product-image-slider {
    width: 98%;
    height: 350px !important;
  }
  .particular-productimage {
    height: 335px !important;
  }
  .product-size-heading {
    display: none;
  }
  .product-size-header {
    display: flex;
    flex-direction: row;
    margin: 1px 5px;
    font-family: 'Ubuntu', sans-serif;
    justify-content: flex-start;
  }
  .product-size-item {
    font-size: 10px !important;
    margin-left: 1px;
    margin-top: 0px;
  }
  .tryon-lower-sec {
    width: 290px !important;
  }
  .button-content {
    width: 290px;
    font-size: 14px;
    margin: 0px 20px;
  }
  .vertical-slider {
    width: 310px;
    margin: 15px 10px 0px 10px;
  }
  .product-detail-section {
    width: 340px !important;
    margin: 1px 10px;
    padding: 0rem 1rem;
  }
  .product-details-wrapper {
    width: 310px !important;
  }
  .product-manufac {
    font-size: 16px;
  }
  .product-detail-heading {
    font-size: 24px !important;
    line-height: 36px;
    width: 85% !important;
  }
  /* .product-size-header {
    width: 290px;
    display: flex;
    align-items: center;
  } */
  .product-favourite-icon {
    margin-left: -2px;
  }
  .product-price-text {
    font-weight: 700;
    font-size: 32px !important;
    line-height: 51px;
  }
  .product-color-text {
    font-size: 26px;
  }
  .accordion-heading {
    font-size: 16px;
    font-weight: bold;
  }
  .tax-text {
    font-size: 13px;
  }
  .selectASize {
    font-size: 15px;
  }
  .product-size-item {
    height: 35px;
  }
}

@media only screen and (max-width: 500px) {
  .section-one {
    padding: 0px;
    padding-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    margin: 0px;
  }
  .product-image-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 325px !important;
    height: 650px !important;
    margin-top: -70px !important;

  }
  .resp{
    margin-top: 3% !important;
  }
  .product-image-slider {
    width: 325px !important;
    height: 320px !important;
  }
  .particular-productimage {
    width: 298px !important;
    height: 320px !important;
  }
  .product-size-heading {
    display: none;
  }
  .product-size-item {
    font-size: 15px !important;
    /* margin: 0; */
    margin-top: 0px;
    margin-left: 0px;
    height: 35px;
  }
  .tryon-lower-sec {
    width: 290px !important;
    flex-direction: column;
  }
  .button-content {
    width: 290px !important;
    font-size: 14px !important;
    margin: 0px 20px;
  }
  .vertical-slider {
    width: 310px !important;
    margin: 15px 10px 0px 10px;
  }
  .product-detail-heading {
    font-size: 25px !important;
    width: 90%;
    line-height: 32px;
  }

  /* .product-size-header {
    width: 90% !important;
    display: flex;
    align-items: center;
  }  */
  .product-favourite-icon {
    margin-left: 0px;
  }
  .product-detail-section {
    width: 360px !important;
    margin: 0px 10px !important;
    padding: 0rem 1rem !important;
  }
  .product-details-wrapper {
    width: 350px !important;
    margin: 0px 10px;
  }
  .product-price-text {
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
  }

  .vertical-slider-item {
    height: 80px;
    width: 100px;
    margin: 1px 10px;
  }
  .product-size-header {
    display: flex;
    flex-direction: row;
    margin: 2px 5px;
    font-family: 'Ubuntu', sans-serif;
    justify-content: flex-start;
  }
  .selectASize {
    font-size: 15px;
  }
  .tax-text {
    font-size: 13px;
  }
  .product-color-text {
    font-size: 26px;
  }
  .accordion-heading {
    font-size: 17px;
  }
  .product-accordion {
    padding: 0rem 1rem;
  }
  
  .uploadbtn{
    cursor: pointer;
    overflow: hidden;
    margin-right: 5%;
  }
  .custom-file-input{
    border-radius: 12px;
    width: 76%;
    background: #b2eeee;
  }
  .custom-file-input::before{
    border-radius: 12px;
    width: 100%;
  }
  .custom-btn-toggle{
    width: 80% !important;
  }
  .right{
    /* width: 80%;
    margin: 1rem auto; */
    width: 100%;
    display: inline-block;
    cursor: pointer;
    background: #b2eeee;
    text-align: center;
    border-radius: 12px;
    padding: 12px 30px;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.137);
  }
  
  .refresh{
    margin-top: -0.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .section-one {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
  }
  .product-image-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    width: 599px;
    height: 812px;
    margin: 0;
  }
  .product-accordion {
    margin-left: 6px;
  }
  .button-content {
    width: 500px;
    font-size: 17px;
  }
  /* .product-size-header {
    display: flex;
  } */
  .tryon-lower-sec {
    width: 500px;
  }
  .vertical-slider {
    margin-top: 10px;
  }
  .vertical-slider-item {
    height: 105px;
    width: 100px;
    margin: 0px 10px;
  }
  .product-detail-section {
    padding: 0rem 1rem;
    width: 540px;
    margin: 0px 15px;
  }
  .product-detail-heading {
    font-size: 30px;
  }
  .product-size-heading{
    margin: 0px 2px !important;
    padding: 5px 0px !important;
    font-size: 22px !important;
  }
  .product-size-header{
    margin: 5px 8px;
  }
  .product-size-boxes{
    margin: 2px 2px;
    padding: 3px 0px;
  }
  .product-size-item{
    margin-top: 0px;
    padding: 0px 8px;
    height: 35px;
  }
  .selectASize{
    font-size: 16px;
  }
  .product-price-text{
    font-size: 39px;
  }
  .tax-text{
    font-size: 14px;
  }
  .product-color-text{
    font-size: 28px;
  }
  .uploadbtn{
    /* margin-left: 14%; */
  }
  .custom-btn-toggle{
    width: 86%;
  }
  .right{
    /* margin-right: 19%; */
  }

}


