.wishlist-wrapper {
  width: 80vw;
  display: flex;
  flex-direction: row;
}
.wish-card-wrapper {
  display: flex;
  flex-direction: column;
}
.wish-card-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.wish-card-img {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 98px;
}
.cart-price-button {
  display: flex;
  flex-direction: row;
}
.wish-name {
  font-size: 14px;
  margin-left: 10px;
}
.del-icon {
  cursor: pointer;
}

@media only screen and (max-width: 599px) {
  .wish-name {
    font-size: 12px;
  }
  .product-button-cart {
    /* margin-left: 0px !important; */
    font-size: 13px;
  }
  .noproduct {
  }
  .wishlist-wrapper {
    width: 80vw;
    margin-left: -20px;
  }
  .del-icon {
    margin-left: 20px !important;
    cursor: pointer;
  }
}

@media only screen and (max-width: 377px) {
  .product-button-cart {
    font-size: 11px;
    padding: 15px 15px;
  }
}
