.wishlist-wrapper {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.wish-card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.wish-card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.wish-bag {
  cursor: pointer;
}
.wish-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
  margin-left: 10px;
  margin-top: 7px;
}
.wish-img {
  width: 98px;
  height: 110px;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  -o-object-fit: cover;
  object-fit: cover;
}

.wish-card-img {
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 98px;
}
.cart-price-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.wish-text {
  font-size: 14px;
  font-size: large;
}
.del-icon {
  cursor: pointer;
}
.wish-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: center;
  align-items: center;
}
.wish-btn {
  background-color: #b2eeee;
  border-radius: 10px;
  padding: 10px 15px;
  margin-top: 5px;
  border: 1px solid black;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wish-del {
  color: red;
}

@media only screen and (max-width: 768px) {
  .wish-text {
    font-size: 14px;
  }
  .product-button-cart {
    font-size: 14px;
  }

  .wishlist-wrapper {
    width: 90vw;
  }
  .del-icon {
    cursor: pointer;
  }
  .wish-btns {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 550px){
  .wishlist-wrapperr{
    min-height: 25rem;
  }
}

@media only screen and (max-width: 500px) {
  .wish-text {
    font-size: 12px;
  }
  .product-button-cart {
    font-size: 12px;
  }

  .wishlist-wrapper {
    width: 90vw;
  }
  .del-icon {
    cursor: pointer;
  }
  .wish-btn {
    padding: 7px 10px;
    
  }
  .wish-img {
    height: 90px;
    width: 70px;
    border-radius: 15px;
  }
}

@media only screen and (max-width: 380px) {
  .wishlist-wrapper {
    flex-direction: column;
  }
  .product-button-cart {
    padding: 15px 15px;
  }
  .wish-btns {
    justify-content: space-around;
    flex-direction: row;
    gap: 0;
    margin-top: 10px;
  }
}
