@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.navbar {
  display: flex;
  font-size: 0.5rem;
  width: 100%;
  /* padding: 10px 10px; */
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-around;
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  overflow-y: hidden;
}
.logo-location-input,
.logo-location,
.input-wrapper,
.menu-wrapper {
  display: flex;
}
.logo-location-input {
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo-location {
  margin-left: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.input-wrapper {
  width: 80%;
  padding: 7px;
  border-radius: 20px;
  background-color: rgb(244, 205, 244);
}
.input {
  width: 95%;
  border: none;
  outline: none;
  background-color: transparent;
}
.selectlocation {
  background-color: transparent;
  width: 100px;
  border: none;
  padding: 10px 0px;
  outline: none;
}
.location-selection {
  background-color: rgb(255, 233, 255);
  border-radius: 10px;
  margin: 0px 20px;
}
.menu-wrapper {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.menu-wrapper > ul {
  width: auto;
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  list-style-type: none;
  line-height: 2rem;
}
.nav-links {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: rgb(8, 8, 8);
}
.link {
  text-decoration: none;
}
.nav-box:hover {
  /* border: 1px solid #8FD4F1 !important; */
  background-color: #8fd4f1;
}
.nuser-text {
  font-size: 15px;
}

@media screen and (max-width: 1024px) {
  .navbar {
    display: flex;
    text-align: center;
    width: 100%;
    /* border: 1px solid rebeccapurple; */
    justify-content: center;
    overflow: hidden;
    margin: auto;
    align-items: center;
  }
  .logo-location-input {
    width: 20%;
    display: flex;
    align-items: flex-start;
    align-items: center;
  }
  .logo-location {
    padding: 1px;
    margin: 0px;
  }
  .location-selection {
    display: none;
  }
  .menu-wrapper {
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 100%;
    /* border: 1px solid rebeccapurple; */
  }
  .navbar-link {
    margin-right: 3px;
  }
}

@media screen and (max-width: 1023px) {
  .nuser-text {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
  }
  .logo-location-input {
    width: fit-content;
    position: relative;
    right: 10rem;
  }
 
}

@media screen and (max-width:377px) {
  .logo-location-input{
    right: 7rem;
  }
  .nav-links {
    margin: 0 !important;
    padding: 5px !important;
  }
  .homepage-banner{
    background-size: contain;
    background-repeat: no-repeat;
  }
}
